# PostgreSQL Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=

# RabbitMQ configuration
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
RABBITMQ_EXCHANGE=notification-exchange
RABBITMQ_ROUTING_KEY=notification.send
RABBITMQ_QUEUE=notification-queue
RABBITMQ_DLQ=notification-dlq

# Redis configuration
REDIS_ADDRESS=localhost:6379
REDIS_PASSWORD=
REDIS_DATABASE=0
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_TTL=24h

# Retry configuration
RETRY_ATTEMPTS=5
RETRY_DELAY=1s
RETRY_BACKOFF=2.0
RETRY_MAX_DELAY=1m

# Email (SMTP) configuration
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=smtp@mailtrap.io
SMTP_PASS=
SMTP_FROM=hello@notifier.app

# Telegram Bot configuration
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=

# Goose
GOOSE_DRIVER=postgres
GOOSE_MIGRATION_DIR=./migrations
